<h4>Register a restaurant</h4>
<div>
    <form (submit)="check()">
      <h6>Restaurant name:</h6>
      <br>
      <input type="text" [(ngModel)]="rest.name" name="rest.name">
      <br>
      <h6>Cuisine:</h6>
      <br>
      <input type="text" [(ngModel)]="rest.cuisine" name="rest.cuisine">
      <br>
      <div class="row">
        <div class="col s6">
            <button class="waves-effect waves-light btn-small #80cbc4 teal lighten-3" [routerLink]="['']">Cancel</button>
        </div>
        <div class="col s6">
            <input class="waves-effect waves-light btn-small" type="submit" value="Register">
        </div>
      </div>
    </form>
</div>
<p *ngFor="let messages of array">{{messages}}</p>